#profile > * {
    margin: auto;
}

#profile {
    h2, form, #info, #edit-user {
        width: 240px;
    }

    #edit-user, #info {
        margin-bottom: 50px;
    }

    span {
        display: block;
    }

    .edit, .save {
        margin-top: 20px;
    }
}
