#register, #login, #new {
    width: 240px;
    margin: auto;
    margin-top: 200px;
}

label {
    display: block;
}

input, .tooltip {
    display: inline-block;
}

input {
    width: 200px;
    margin-bottom: 10px;
}
