* {
    margin: 0;
    padding: 0;
}

$font-stack: "Arial", sans-serif;
$primary-colour: tomato;

#main {
    font-family: $font-stack;

}

@import './ads';
@import './register';
@import './menu';
@import './tooltip';
@import './select';
@import './table';
@import './profile';
@import './home'
